/* Basic styles */
body {
  font-family: sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #c2c9f9;
  font-family: monospace;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #75c484;
  padding: 10px 20px;
  border-radius: 15PX;
}

nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #000;
  text-decoration: none;
}

nav a:hover {
  text-decoration: line-through;
  color: #3366CC;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

#banner {
  text-align: center;
  padding: 20px;
  background-color: #75c484;
  border-radius: 15PX;
}

#highlights .highlights-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.highlight {
  width: 30%;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #f5ff95;
  border-radius: 15PX;
}

#news {
  list-style: none;
  padding: 0;
  background-color: #f5ff95;
  border-radius: 15PX;
  padding: 2%;
}

#news li {
  margin-bottom: 10px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #eee;
  border-radius: 15PX;
}
#modal-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* or a smaller height depending on content */
  display: flex;
  justify-content: center; /* horizontal centering */
  align-items: center; /* vertical centering */
  background-color: rgba(0, 0, 0, 0.5); /* darkens the background */
}
.modal-content {
  background-color: white; /* or desired background color */
  padding: 20px;
  border-radius: 5px;
   border-radius: 30;
  text-align: center; /* or preferred text alignment */
}
#modal-content {
  border-radius: 15px;
}
#close-button {
  margin-left: 5%;
}

.hidden {
  display:none;
}
/* You can add more styles here to customize the look and feel of your website */

